.ocwma_bill_table button.form_option_edit {
    background-color: inherit;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #000;
    padding: 0px;
}
.ocwma_ship_table button.form_option_ship_edit {
    background-color: inherit;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #000;
    padding: 0px;
}
#ocwma_billing_popup ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#ocwma_billing_popup ::-webkit-scrollbar-track {
  background: #f1f1f1; 
   border-radius: 5px;
}
 
/* Handle */
#ocwma_billing_popup ::-webkit-scrollbar-thumb {
  background: #b5b5b5; 
  width: 10px;
  border-radius: 5px;
}

/* Handle on hover */
#ocwma_billing_popup ::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5; 
  width: 10px;
}
#ocwma_shipping_popup ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#ocwma_shipping_popup ::-webkit-scrollbar-track {
  background: #f1f1f1; 
   border-radius: 5px;
}
 
/* Handle */
#ocwma_shipping_popup ::-webkit-scrollbar-thumb {
  background: #b5b5b5; 
  width: 10px;
  border-radius: 5px;
}

/* Handle on hover */
#ocwma_shipping_popup ::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5; 
  width: 10px;
}
.ocwma_billing_popup_class {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.ocwma_shipping_popup_class{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.ocwma_billing_popup_body{overflow: hidden; position: relative;}
.ocwma_billing_popup_body:after {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    content: "";
    width: 100%; height: 100%; left: 0; top: 0;
}
.ocwma_shipping_popup_body{overflow: hidden; position: relative;}
.ocwma_shipping_popup_body:after {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    content: "";
    width: 100%; height: 100%; left: 0; top: 0;
}
img.ocma_loader{
    position: fixed;
    top: 50%;
    left: 50%;
	 z-index: 999999999;
}
.ocwma_close:hover, .ocwma_close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.ocwma_close {
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    right: 2%;
    top: 1%;
    height: 25px;
    line-height: 26px;
    width: 25px;
    vertical-align: middle;
    background-color: #000;
    text-align: center;
    color: #fff;
    z-index: 9999999;
    border-radius: 50%;
    font-family: arial;
}
.ocwma_modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 40%;
    border-radius: 5px;
    padding: 37px 20px 80px 20px;
}
.select2-container{ z-index: 9999999; }

.woocommerce .select2-container{ z-index: 777; }

.ocwma_bill_table td {
    padding: 0px;
    border:none;
}
.ocwma_ship_table td {
    padding: 0px;
        border:none;
}
table.ocwma_bill_table {
    width: 100%;
    border: none;
   
}
table.ocwma_ship_table{
    width: 100%;
    border: none;
}
.ocwma_bill_table tr {
    border: none;
}
.ocwma_ship_table tr {
    border: none;
}
.cus_menu .shipping-button {
    width: 50%;
    float: left;
    display: inline-block;
}
.cus_menu .billling-button {
    width: 50%;
    float: left;
    display: inline-block;
}
.cus_menu {
    width: 100%;
    display: inline-block;
    float: left;
}
/*.ocwma_bill_table tr:first-child {
    font-size: 23px;
}*/

select.ocwma_select {
    width: 100%;
    margin-bottom: 5px;
}
.ocwma_select_shipping{
width: 100%;
    margin-bottom: 5px;
}
h3.ocwma_border {
    border: 4px solid red;
    padding: 10px;
    font-weight: bolder;
    text-align: center;
}
.ocwma_table_ship {
    width: 50%;
    display: inline-block;
    float: left;
}
.ocwma_table_bill {
    width: 50%;
    float: left;
    display: inline-block;
}
.ocwma_table_custom {
    width: 100%;
    display: inline-block;
    float: left;
}
.form_option_billing, .form_option_shipping {
  display: inline-block;
  margin: 15px 0;
}
.ocwma_inerror {
	border: 3px solid red;
}

@media screen and (max-width: 767px){
  .ocwma_modal-content {
      width: 96%;
  }
}